.icon-hover:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
  color: #3b71ca !important;
}

.icon-hover:hover i {
  color: #3b71ca !important;
}
.add-to-cart button{
    border:none;
    background-color:#ffd814;
    border-radius:30px;
    text-decoration:none;
    font-size:14px;
    padding: 9px 26px;
}
